<footer class="bg-[#2C3E50] text-[#FFFFFF] pt-20 pb-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8  mb-20">
      <!-- À propos -->
      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-[#E67E22]">Sen Livres</h3>
        <p class="text-sm">Votre bibliothèque en ligne, accessible 24/7. Découvrez notre vaste collection de livres et ressources numériques.</p>
      </div>

      <!-- Liens rapides -->
      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-[#E67E22]">Liens rapides</h3>
        <ul class="space-y-2 text-sm">
          <li><a routerLink="/" class="hover:text-[#E67E22] transition-colors">Accueil</a></li>
          <li><a routerLink="livres" class="hover:text-[#E67E22] transition-colors">Catalogue</a></li>
          <li><a routerLink="blog" class="hover:text-[#E67E22] transition-colors">Blog</a></li>
          <li><a routerLink="contact" class="hover:text-[#E67E22] transition-colors">Contact</a></li>
        </ul>
      </div>

      <!-- Horaires -->
      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-[#E67E22]">Horaires d'ouverture</h3>
        <ul class="space-y-2 text-sm">
          <li>Lundi - Vendredi: 9h - 18h</li>
          <li>Samedi: 10h - 16h</li>
          <li>Dimanche: Fermé</li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="space-y-4">
        <h3 class="text-lg font-semibold text-[#E67E22]">Contact</h3>
        <ul class="space-y-2 text-sm">
          <li class="flex items-center space-x-2">
            <i class="bi bi-geo-alt"></i>
            <span>Dakar, HLM</span>
          </li>
          <li class="flex items-center space-x-2">
            <i class="bi bi-telephone"></i>
            <span>764565456</span>
          </li>
          <li class="flex items-center space-x-2">
            <i class="bi bi-envelope"></i>
            <span>contactsenlivres&#64;gmail.com</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Réseaux sociaux -->
    <div class="mt-8 pt-8 border-t border-[#ECF0F1] flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
      <div class="text-sm">
        © {{currentYear}} Bibliothèque. Tous droits réservés.
      </div>
      <div class="flex space-x-6">
        <a href="#" class="text-[#FFFFFF] hover:text-[#E67E22] text-xl transition-colors">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="text-[#FFFFFF] hover:text-[#E67E22] text-xl transition-colors">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="#" class="text-[#FFFFFF] hover:text-[#E67E22] text-xl transition-colors">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="#" class="text-[#FFFFFF] hover:text-[#E67E22] text-xl transition-colors">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>